/* Add some margin to the page and set a default font and colour */

body {
  margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Slots for final card positions */
#cardSlots {
  background: navy;
}

/* The initial pile of unsorted cards */

#cardPile {
  background: green;
}

#cardSlots,
#cardPile {
  padding: 0.85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  -moz-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.8);
}
#cardSlots,
#cardPile {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#cardSlots .content,
#cardPile .content {
  display: flex;
}
#cardSlots .content {
  flex-wrap: wrap;
}
/* Individual cards and slots */

#cardSlots .content div,
#cardPile .content div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
  padding: 0.5em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 5px 10px;
  background: #fff;
}

/*#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}*/

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots .content div {
  border-style: dashed;
}

#cardPile .content div {
  background: #666;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 3px #000;
  text-align: center;
}

#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
}

/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #dfd;
  display: block;
}

#scoreBoard{
  color: #fff;
}

#scoreBoard h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff900;
}

#scoreBoard p {
  font-size: 1.5rem;
}


.title {
  color: #fff;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255));
  margin-bottom: 1rem;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 15px 10px;
  margin-inline: auto;
  box-shadow: inset 0px 0px 10px #fff;
  font-size: 2rem;
}
